/* Artistas */

#artistas{
    hr{
    opacity: 1;
    height: 4px;
    width: 30%;
    }
}


.iframe__artista--spotify{
    height: auto;
    background-image: url(../multimedia/fondoweb.png);
    background-position: center;
    background-size: cover;
}

.margenes--costados{
    margin-left: 10px;
    margin-right: 15px;
}

.txt-secundario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    color: ffffff;
}

