/* paleta de colore  s
Violeta: #47067B
Azul: #002488
Verde: #04CB5F
Rosa: #E71994
Naranja: #FFA100
Negro: #000000
Negro claro: #131313
*/

*{
    color: white;
    text-decoration: none;
}

.c-blanco{
    color: white;
}

.bg-negroC{
    background-color: #131313;
}

.c-violeta{
    color: #47067B;
}

.bg-violeta{
    background-color: #47067B;
}

.c-azul{
    color: #002488 ;
}

.bg-azul{
    background-color:#002488 ;
}

.c-verde{
    color: #04CB5F;

}

.bg-verde{
    background-color:#04CB5F ;
}

.c-rosa{
    color:#E71994 ;
}

.bg-rosa{
    background-color: #E71994;
}

.c-naranja{
    color: #FFA100
}

.bg-naranja{
    background-color: #FFA100;
}