

//primer establecimiento (OH)



.fondo-establec-1{
    background-image: url(../multimedia/FondoEstablec3.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}


.div__img--tamaño{

    img{
        width: auto;
        height: 280px;
    }


}


.div__p--tamaño{
    background-color: hsla(273, 91%, 25%, 0.589)
}

.div__p--tamaño{

    p{

        text-align: center;
    }

}

//segundo establecimiento


.fondo-establec-2{
    background-image: url(../multimedia/FondoEstablecim2.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}

//Tercer Establecimiento

.fondo-establec-3{
    background-image: url(../multimedia/fondoest5.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}

//Cuarto Establecimiento

.fondo-establec-4{
    background-image: url(../multimedia/fondoEstablecimiento.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}


//Quinto Establecimiento

.fondo-establec-5{
    background-image: url(../multimedia/fondoestablec5.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}
