/* GRILLA DE EVENTOS */


.flex-columna{
    padding: auto 40px;
    margin: 50px auto;
    border: 1px solid #ff9100;
    display: flex;
    flex-direction: column;

}

.flex-columna{

    h3{
    width: 100px;
    text-align: center;
    }

}

.flex-fila{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.flex-fila{
    p,h4{
    width: 100px;
    height: 85px;
    text-align: center;

    }

}

.flex-fila{
    a{
    text-align: center;
    background-color: #FFA100;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    border:solid 1px white;
    }
}
.flex-fila a:hover{
    background-color: purple;
}


@media (min-width:320px) and (max-width:500px){
    .font-size-resp{
        font-size: 18px;
        text-align: center;
    }
    .font-size-resp2{
        font-size: 16px;
    }
    .font-size-resp3{
        font-size: 14px;
    }
    .flex-fila{
        a{
            text-align: center;
            background-color: #FFA100;
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            border-radius: 16px;
            border:solid 1px white;
        }
    }
}
