footer{
    background-color: #131313;
}

footer{
    li{
    list-style: none;
    text-decoration: none;
    }
}

footer{
    a{
    color: white;
    text-decoration: none;
    }
}

footer a:hover{
    color: #002488 ;
}

footer{
    i{
    font-size: 1.5em;
    text-decoration: none;
    }
}


footer i:hover{
    color: #E71994;
}

footer button:hover{
    color: white;
}