/* acerca de */

.padding-texto{

    h2{
    padding-top: 35px;
    }
}

.index__informacion--imagen{
    img{
    width: 80%;
    }
}

/*navbar */
    nav{
        background-image: url(../multimedia/portada1.jpg);
        width: 100%;
        padding: 0 !important;
        position:sticky;
    }
    nav .container-fluid{
        background-color: rgba(18, 18, 18, 0.4);
        width: 100%;
    }

    .navbar-dark .navbar-nav .nav-link{
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }


/* Portada */


.navbar-logo{
        display: inline-block;
        vertical-align: middle;
        width: 70px;

        img{
                display: block;
                width: 100%;
                height: auto;
                }
        }




/* Index */

.index__separador--altura{
    height: 150px;
}

#noticias{
    hr{
    opacity: 1;
    color: #FFA100;
    height: 3px;
    width: 30%;
    }
}

.header__info--resaltada{
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
                8px 8px #E71994,
                20px 20px #47067B;
}

.txt-secundario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
}