@import 'home' ;
@import 'artistas' ;
@import 'establecimientos' ;
@import 'eventos' ;
@import 'galeria' ;
@import 'colores' ;
@import 'footer' ;



*{
    color: white;
    text-decoration: none;
}

body{
    background-color: black;
}

/* NavBar */

nav{
    background-color: #131313;
}

/* Fin NavBar */


/* Parrafos establecimientos*/









